*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo{
     display: block;
    position: relative;
    right: 780px;
    bottom: 5px;
    background-color: white;
    opacity: 0.5;
}

.navbar{
   display: flex;
   float: right;
   background-color: white;
   opacity: 0.5;
  
}
      
.nav_links ul{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    position: relative;
    right: 25px;
} 

.nav_links li{
    padding: 5px;
    list-style: none;
    
}

.nav_links a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    padding: 15px;
    
}

.nav_links a:hover{
    color: #041b6e;
    text-decoration: underline;
}
/* 
.heropage {
    background-image: url(./img/blog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 50px 50px ;

} */
 body{
    background-image: url(./img/blog.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
 }
